@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: white;
  background-image: url("https://source.unsplash.com/1920x1000/?landscape");
}
h1 .temperature {
  margin: 0;
}
.searchContainer {
  padding: 2em;
  position: absolute;
  border-radius: 30px;
  background-color: rgba(48, 62, 143, 0.9);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 420px;
  margin: 0;
  top: 20%;
  right: 2%;
}
.search {
  padding: 2em;
  position: absolute;
  border-radius: 30px;
  background-color: rgba(48, 62, 143, 0.9);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 420px;
  top: 5%;
  right: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#userInput {
  border: none;
  outline: none;
  padding: 0.5em 1em;
  border-radius: 24px;
  background-color: #7c7c7c2b;
  color: white;
  font-family: inherit;
  font-size: 120%;
}
#userInput:focus {
  border-color: 1px solid white;
}
button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 46px;
  width: 46px;
  outline: none;
  background-color: #7c7c7c2b;
  color: white;
}

.container {
  padding: 2em;
  position: absolute;
  border-radius: 30px;
  background-color: rgba(48, 62, 143, 0.9);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
  margin: 0;
  top: 5%;
  left: 2%;
}
